.appWrapper {
  padding: 0.5rem 0;
  background-color: rgba(222, 222, 222, 0.668);
}

.cube {
  height: 50px;
  width: 50px;

}

.game_arena {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 2rem auto;
  background-image: url('/public/background.png');
  background-size: contain;
  overflow: hidden;
}

.player img {
  width: 50px;
  height: 50px;
  z-index: 1000;
  text-align: center;
}

.apple img {
  height: 100%;
  text-align: center;

}